<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>layouterSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>841AD73022EE93AD00F9AB7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841AD74822EE93AE00F9AB7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841AD75322EE93AE00F9AB7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
